@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86.5%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
.header { 
  position: sticky;
  top: 0;
  z-index: 10;
 }

.header .wrapper{
  padding-top: 28px;
  display: flex;
  align-items: center;
  flex-basis: auto;
  justify-content: space-between;
}

.logo { flex-basis: 59%; }
.navbar { flex-basis: 73%; }

h1 a{
  font-size: 27px;
  font-weight: 500;
  color: #fff;
}

.navbar-list li a.active,
.navbar-list li a:hover{
  color: #010912;
  transition: all .3s ease;
}

.navbar-list li ul{
  display: none;
}
.navbar-list li a{
  font-size: 14px;
  padding: 0 20px;
  text-transform: uppercase;
  color: #e1e1e1;
}
.navbar-list li:nth-child(4) a::before{
  content: "\f107";
  float: right;
  font-family: "FontAwesome";
  padding-left: 10px;
  color: #fff;
}

.navbar-list li:nth-child(4) a:hover::before{
  color: #010912;
  transition: all .3s ease;
}

.hamburger{
  display: none;
}

.bar{
  display: block;
  text-indent: -9999px;
  height: 3px;
  background-color: #000;
  margin: 5px;
  width: 25px;
  transition: all .3s;
}
.searchbar{
  flex-basis:1% ;
}
.search-input{
  text-indent: -9999px;
}
.search-icon::before{
  content: "\f002";
  float: right;
  font-family: "FontAwesome";
  color: #000;
  text-indent: 0;
  padding: 12px;
  background-color: #fff;
}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/* hero section styling start  */
.hero-section .wrapper{
  width: 100%;
}

.banner-list .slider{
  text-align: center;
  width: 100%;
}

.banner{
    position: relative;
    top: -68px;
}

.banner-content{
    position: absolute;
    top: 50%;
    left: 34%;
    transform: translateY(-50%);
}

.banner-list .slider:nth-child(2),
.banner-list .slider:nth-child(3){
  display: none;
}

.heading{
  font-size: 17px;
  text-transform: uppercase;
  color: #fff;
  padding-bottom: 23px;
}

.main-heading{
  font-size: 42px;
  color: #fff;
  padding-bottom: 38px;
}

.read-btn,
.action-btn {
  font-size: 14px;
  text-transform: uppercase;
  padding: 11px 30px;
  color: #76b96b;
  border: 2px solid #fff;
  border-radius: 30px;
  background-color: #fff;
}

.read-btn { background: transparent; }

.banner-list .slider:nth-child(1) h2 + a{
  border: 2px solid #fff;
  background-color: #5B77A6;
  color: #fff;
  margin-right: 10px;
}

.slider a:hover{
  color: #fff;
  background-color: #76b96b;
  border: 2px solid #fff;
  transition: all .3s ease;
}

.banner-list .slider:nth-child(1) h2 + a:hover{
  color: #5B77A6;
  background-color: #fff;
  border: 2px solid #76b96b;
  transition: all .3s ease;
}

.angle-left,.angle-right{
  display: inline-block;
  text-indent: -9999px;
}

.angle-right{
  float: right;
}


.slide-control{
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
}

.angle-left::before{
  content: "\f104";
  float: left;
  font-family: "FontAwesome";
  text-indent: 0;
  font-size: 28px;
  color: #fff;
  margin-left: 32px;
}

.angle-right::before{
  content: "\f105";
  float: right;
  font-family: "FontAwesome";
  text-indent: 0;
  font-size: 28px;
  color: #fff;
  margin-right: 32px;
}

.angle-left:hover::before,
.angle-right:hover::before{
  color: #000;
  transition: all .3s ease;
}

.angle{
  display: flex;
  text-indent: -9999px;
  position: relative;
  justify-content: center;
  align-items: center;
}

  .angle::before {
    content: "\f063";
    font-family: "FontAwesome";
    float: left;
    text-indent: 0;
    position: absolute;
    top: -550%;
    color: #fff;
    padding: -3px 0px;
    background: #56A352;
    border-radius: 50%;
    height: 65px;
    width: 65px;
    text-align: center;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}


/* hero-section styling end here  */

/* about section styling starts here  */

.about-section{
  background: #ffffff;
}

  .half-about{
    display: flex;
    justify-content: space-between;
    flex-basis: 43%;
    margin-bottom: 85px;
  }

  .about{
    flex-basis: 49%;
  }
  .about-content{
    flex-basis: 49%;
  }

 .about-section .heading {
   text-transform: uppercase;
   font-weight: 500;
   font-size: 14px;
   color: #83C3A0;
   text-align: left;
 }

.about .main-heading {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 1%;
  padding-right: 25px;
  letter-spacing: 1px;
  color: #000;
  text-align: left;
}

  .about-list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  .about-list li{
    display: flex;
    align-items: center;
    flex-basis: 50%;
    margin-bottom: 28px;
  }

  .rocket, .globe{
    text-indent: -9999px;
    display: inline-block;
    padding-right: 16px;
  }

  .about-item::before{
    content: "\f135";
    font-family: "FontAwesome";
    float: left;
    text-indent: 0;
    height: 50px;
    width: 50px;
    font-size: 25px;
    color: #fff;
    background: linear-gradient( to right, #39A09A , #6CCA9E );
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  .globe::before{
    content: "\f0ac";
  }
  
  .about-para {
    font-size: 17px;
    line-height: 25px;
    color: #9C9E95;
    padding-bottom: 30px;
  }

  .before-btn{
    font-size: 13px;
    text-transform: uppercase;
    padding: 16px 34px;
    background: #60B65B;
    border-radius: 30px;
    border: 2px solid transparent;
    color: #fff;
    margin-top: 30px;
  }

  .before-btn::before{
    content: "\f061";
    font-family: "FontAwesome";
    float: right ;
    padding-left: 13px;
  }

  .about-section .wrapper{
    position: relative;
    margin-top: 3%;
  }
  .half-about::after{
    content: "";
    width: 100%;
    height: 7px;
    background-color: #f8f8f8;
    position: absolute;
    top: 67%;
    border-radius: 2px;
  }

  /* feature list styling starts  */

  .feature-list{
    display: flex;
    justify-content: space-between;
    margin: 150px 0 134px 0;
  }

  .rocket-launch{
    display: block;
    text-indent: -9999px;
    position: relative;
  }

  
  .rocket-launch::before{
    content: "\f135";
    position: absolute;
    top: 15px;
    font-family: "FontAwesome";
    font-size: 52px;
    text-indent: 0;
    font-size: 48px;
    left: 0;    
    background: linear-gradient(to right, #48c3b3 50%, #5AC19C 50%);
    -webkit-text-fill-color: #6CCA9E;
    -webkit-background-clip: text;
  }

  .feature-list h2{
    color: #202B38;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: .5px;
    text-transform: uppercase;
  }

  .about-content .about-para a{
    padding-right: 4px;
  }

  .feature h2,
  .feature p,
  .feature a{
    padding-left: 78px;
  }

  .feature p{
    font-size: 15px;
    color: #9C9E95;
    line-height: 25px;
    padding:21px  37px 0 78px;
  }

  .arrow-right{
    color: #202B38;
    text-transform: uppercase;
    font-size: 14px;
    padding-top: 20px;
    font-weight: 500;
    letter-spacing: 0.5px;
  }

  .arrow-right::before{
    content: "\f061";
    float: right;
    font-family: "FontAwesome";
    padding-left: 10px;

  }

  /* about section styling ends here  */

  /* newsletter section styling starts here  */
  .newsletter-section{
    position: relative;
    /* height: 412px; */
  }

  .newsletter-section figure img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: -1;
  }

  .newsletter-section .wrapper{
    width: 70%;
    padding: 86px 0 117px 0;
  }

  .heading, .main-heading , .para{
    text-align: center;
    color: #FFFFFD;
  }

  .newsletter-section .heading{
    font-size: 15px;
    padding-bottom: 15px;
  }
  .newsletter-section .main-heading{
    font-size: 41px;
    padding-bottom: 28px;
  }

  .para{
    width: 82%;
    margin: 0 auto;
    line-height: 25px;
  }
  .subscribe{
    margin-top: 45px;
  }

  .subscribe form{
    display: flex;
    justify-content: space-between;
    width: 82%;
    margin: 0 auto;
    height: 40px;
  }

  .form-input{
    flex-basis: 66%;
  }
  .subscribe-btn{
    flex-basis: 24%;
    color: #8ABC80;
    border: 0.5px solid #8ABC80;
    background-color: #ffffff;
    border-radius: 30px;
    font-size: 16px;
    text-transform: uppercase;
    margin: 0px 15px;
    letter-spacing: 0.5px;
    font-weight: 500;
    height: 40px;
  }

  .newsletter-section .form-input input{
    width: 100%;
    padding: 5px 11px 5px 23px;
    line-height: 28px;
    border: 0.5px solid #fff;
    border-radius: 30px;
    background: transparent;
  }

    /* newsletter styling ends here  */

  /* project section styling starts here  */

  .project-section .heading,
  .contact-section .heading{
    color: #76b96b;
    text-align: left;
    font-size: 15px;
  }

  .project-section .wrapper {
      padding: 10% 0 12% 0;
  }

  .project-flex{
    display: flex;
    justify-content: space-between;
  }

  .project-list{
    flex-basis: 43%;
  }

  .project-flex .main-heading,
  .contact-section .main-heading{
    color: #000;
    font-size: 34px;
    text-align: left;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 44px;
  }

  .project-menu{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 36px;
  }

  .project-anc{
    color: #9C9E95;
    text-transform: uppercase;
    font-size: 13px;
  }

  .project-anc.active{
    color: #76b96b;
  }

  .project-filter{
    margin: 15px;
  }

  /* project section css ends here  */

  /* team section styling starts here  */

  .team-section{
    background: #625AA5;
  }

  .team-section .wrapper{
    padding: 125px 0;
  }

  .team-item{
    display: none;
  }
  
  .show{
    display: block;
  }

  .team-group1{
    display: flex;
    justify-content: space-around;
    margin-top: 22px;
  }

  .team-section .heading{
    font-size:17px ;
  }

  .team-section .main-heading { text-transform: lowercase;}

  .team-name , .designation{
    font-size: 18px;
    text-align: center;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
  }

  .team-name{
    margin-top: 30px;
    letter-spacing: 1px;
  }
  .designation{
    font-size: 14px;
    margin-top: 13px;
  }

  .team-slider{
    text-align: center;
    margin-top: 50px;
  }

  .dot{
    background-color: #ffffff;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: none;
    margin: 2px;
    display: inline-block;
    text-indent: -9999px;
  }
  
  .dot:hover{
    transform: scale(1.15);
    opacity: 0.7;
  }

  /* team styling ends here  */

  /* contact section styling starts here  */

  .contact-section{
    background-color: #f0f0f0;
  }

  .contact-section .wrapper{
    padding: 130px 0;
  }

  .contact-flex{
    display: flex;
    justify-content: space-between;
  }

  .contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  }
  
  .contact li{
    align-items: center;
    gap: 15px;
  }
  
  .contact-form{
    flex-basis: 97%;
  }

  .contact-icon{
    font-size: 15px;
    font-weight: 500;
    color: #000;
    display: flex;
    align-items: center;
  }

  .contact-icon::before{
    content: "\f095" ;
    float: left;
    font-family: "FontAwesome";
    font-size: 25px;
    color: #F8F8F9;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: linear-gradient( to right, #39A09A , #6CCA9E );
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
  }
  .mail::before{
    content: "\f0e0";
  }

  .website::before{
    content: "\f0ac";
  }

  .form-row{
    display: flex;
  }

  .contact-form .form-input input{
    width: 87%;
    padding: 8px 11px 8px 23px;
    line-height: 28px;
    border: 0.5px solid #e0e0e0;
    background-color: transparent;
    margin: 10px;
  }
  .form-input textarea{
    width: 94%;
    resize: none;
    border: .5px solid #e0e0e0;
    background-color: transparent;
    padding: 5px 11px 5px 23px;
    margin: 10px;
  }

  .form-input input::placeholder,
  .form-input textarea::placeholder{
    font-size: 15px;
    letter-spacing: .5px;
    padding-top: 10px;
  }

  .send-btn{
    width: 230px;
    font-size: 13px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    border: none;
    border-radius: 30px;
    background: #60B65B;
    margin-top: 30px;
    padding: 16px 0;
    letter-spacing: 1px;
    position: relative;
  }

  .send-btn::before{
    content: "\f061";
    float: right;
    font-family: "FontAwesome";
    position: absolute;
    left: 202px;
  }

  /* contact section styling ends here  */

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
    .footer-section {
      background: linear-gradient(to right, #38A09D 50%, #60C39A);
    }
  
    .footer-section .wrapper {
      padding: 90px 0 80px 0;
      display: flex;
      justify-content: space-between;
    }
  
    .social-link {
      display: flex;
      align-items: center;
    }
  
    .copyright {
      display: flex;
      align-items: center;
      font-size: 14px;
      color: #fff;
    }
  
    .social-links {
      display: flex;
      color: black;
    }
  
    .social-link h3 {
      padding-right: 10px;
      color: #ffffff;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 15px;
    }
  
    .social-icon {
      text-indent: -9999px;
      display: inline-block;
    }
  
    .social-icon::before {
      content: "\f09a";
      float: left;
      font-family: "FontAwesome";
      color: #56A352;
      text-indent: 0;
      font-size: 15px;
      height: 32px;
      width: 32px;
      border-radius: 50%;
      background-color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 4px;
    }
  
    .twitter::before {
      content: "\f099";
    }
  
    .linkedin::before {
      content: "\f0e1";
    }
  
    .domain::before {
      content: "\f0ac";
    }






 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 1294 starts here*/
@media only screen and (max-width: 1315px) {
 
  }


